DATABRICKS_HOST=dbc-YOUR-HOST-NAME.cloud.databricks.com
DATABRICKS_TOKEN=dapieYOUR-TOKEN-HERE
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/YOUR-WAREHOUSE-ID
DATABRICKS_CATALOG=YOUR_CATALOG_NAME
DATABRICKS_SCHEMA=YOUR_SCHEMA_NAME
DBFS_RAW_PATH=/FileStore/YOUR_RAW_PATH
